{% block footer %}
<div style="position:absolute;bottom:0px;background-color:#218380;width:1400px;">
    <footer class="py-3 my-4" class="navbar">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active" style="color:#f0ebd8;">Home</a></li>
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link active" style="color:#f0ebd8;">Features</a></li>
        <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link active" style="color:#f0ebd8;">Pricing</a></li> 
        
     <p class="text-center nav-link active" style="color:#f0ebd8;">© 2023 saghar.abazari</p>
   </footer>
 </div>
{% endblock footer %}